# Always use lf as linefeed (not CRLF on windows)
# Except for file-types that explicitly require crlf
# Source:
# https://code.visualstudio.com/docs/remote/troubleshooting#_resolving-git-line-ending-issues-in-containers-resulting-in-many-modified-files

* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

*.csv diff=daff-csv
*.csv merge=daff-csv
